<div class="container">
  <div class="row">
    <form method="get">
      <div class="form-group">
        <div class="col-md-3"><label class="btn btn-primary"><img src="https://pbs.twimg.com/profile_images/3369631775/028541dea8cd4b4a6702942558d09693.jpeg"
              alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk1" id="item41" value="val1"
              class="hidden" autocomplete="off"></label></div>
        <div class="col-md-3"><label class="btn btn-primary"><img src="https://png.pngtree.com/element_origin_min_pic/20/16/02/2356cbbd799d699.jpg"
              alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk2" id="item42" value="val2"
              class="hidden" autocomplete="off"></label></div>
        <div class="col-md-3"><label class="btn btn-primary"><img src="https://images.freeimages.com/images/premium/small-comps/2213/22137095-fresh-healthy-orange-juice-and-slices-of-oranges.jpg"
              alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk3" id="item43" value="val3"
              class="hidden" autocomplete="off"></label></div>
        <div class="col-md-3"><label class="btn btn-primary"><img src="https://i.pinimg.com/originals/6e/9a/a6/6e9aa6435b7e08b3dcbba37f45f3ab04.jpg"
              alt="..." class="img-thumbnail img-check"><input type="checkbox" name="chk4" id="item44" value="val4"
              class="hidden" autocomplete="off"></label></div>
      </div>
      <input type="submit" value="¡A comer!" class="btn btn-success">

    </form>
  </div>
